<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="db" connectionString="Data Source=192.168.0.208;Initial Catalog='WiKi';Persist Security Info=True;User ID=sa;Password=masterkey;Connect Timeout=5;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>